
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /invoices/{invoiceId} {
      allow read, write: if isSignedIn() && request.auth.uid == resource.data.userId;
    }

    match /estimates/{estimateId} {
      // Public can read, owner can write
      allow get: if true;
      allow list, create, update, delete: if isSignedIn() && request.auth.uid == resource.data.userId;
    }

    match /quotes/{quoteId} {
      // Public can read, owner can write
      allow get: if true;
      allow list, create, update, delete: if isSignedIn() && request.auth.uid == resource.data.userId;
    }

    match /mail/{docId} {
      allow create: if isSignedIn();
    }
  }
}
